@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;700&family=Edu+NSW+ACT+Foundation:wght@400;700&family=Edu+VIC+WA+NT+Beginner:wght@400;700&family=Open+Sans:ital,wght@1,300;1,700&family=Prompt:ital,wght@1,300;1,600&display=swap');

body {
    font-family: 'Cormorant SC', serif;
    background-color: steelblue;
}

.form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    border-radius: 20px;
    border: 0;
    background-color: white;
    width: 400px;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}

.username .password {
    font-size: small;
    color: grey;
}

.login {
    width: 380px;
    height: 40px;
    border-radius: 40px;
    background-color: lightblue;
    color:black;
    font-size: large;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: black;
}

.login:hover {
    background-color: white;
    color: black;
}

.signup {
    width: 80px;
    height: 20px;
    border-radius: 40px;
    background-color: lightblue;
    color:black;
    font-size: small;
    font-weight: bold;
    font-family: 'Cormorant SC', serif;
}

.signup a {
    text-decoration: none;
    color: black;
}

.signup:hover {
    background-color: white;
    color: black;
}